/* DataTable.css */
.table-container {
	max-height: 300px;
	overflow-y: hidden; /* Hide the scrollbar by default */
	box-shadow: none !important; /* Remove the shadow box */
}

.show-scrollbar {
	overflow-y: scroll; /* Show the scrollbar when the class is applied */
}

/* Remove the bottom border from the last TableRow */
.table-container .MuiTableBody-root .MuiTableRow-root:last-child {
	border-bottom: none;
}

/* Customize the scrollbar for WebKit-based browsers (Chrome, Safari, Opera) */
.show-scrollbar::-webkit-scrollbar {
	width: 12px; /* Width of the scrollbar */
}

.show-scrollbar::-webkit-scrollbar-track {
	background-color: #f5f5f5; /* Color of the track */
	border-radius: 6px; /* Rounded corners for the track */
}

.show-scrollbar::-webkit-scrollbar-thumb {
	background-color: #aaa; /* Color of the scrollbar thumb */
	border-radius: 6px; /* Rounded corners for the scrollbar thumb */
}

.show-scrollbar::-webkit-scrollbar-thumb:hover {
	background-color: #888; /* Color of the scrollbar thumb on hover */
}

/* Customize the scrollbar for Firefox */
.show-scrollbar {
	scrollbar-width: thin; /* Width of the scrollbar */
	scrollbar-color: #aaa #f5f5f5; /* Color of the scrollbar thumb and track */
}
